.mix-block__find-similar {
    z-index: 10;
    font-variation-settings: "wght" 650;
    color: #242424;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    cursor: pointer;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 8px;
    align-items: center;
    gap: 4px;
    padding: 5px 12px 7px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
    display: flex;
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.mix-block__find-similar:before {
    content: "";
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M6.47%202.5h7.06c.68%200%201.23%200%201.68.04.47.04.9.12%201.3.32.63.32%201.14.83%201.46%201.46.2.4.29.84.33%201.3.03.45.03%201%20.03%201.68v1.03a.83.83%200%201%201-1.66%200v-1c0-.71%200-1.2-.03-1.57a1.8%201.8%200%200%200-.15-.68%201.67%201.67%200%200%200-.73-.73%201.8%201.8%200%200%200-.69-.15c-.37-.03-.86-.03-1.57-.03h-7c-.71%200-1.2%200-1.57.03a1.8%201.8%200%200%200-.69.15c-.31.16-.57.41-.72.73a1.8%201.8%200%200%200-.16.68c-.03.37-.03.86-.03%201.57v4.5c0%20.72%200%201.2.03%201.58.03.36.09.55.16.68.15.31.41.57.72.73.13.06.32.12.69.15.37.03.86.03%201.57.03h1.83a.83.83%200%200%201%200%201.67H6.47c-.68%200-1.23%200-1.68-.04a3.4%203.4%200%200%201-1.3-.33%203.33%203.33%200%200%201-1.46-1.45%203.4%203.4%200%200%201-.33-1.3c-.03-.46-.03-1.01-.03-1.68V7.3c0-.67%200-1.23.03-1.68.04-.46.12-.9.33-1.3.32-.63.83-1.14%201.46-1.46.4-.2.83-.28%201.3-.32.45-.04%201-.04%201.68-.04Z%22%20fill%3D%22%23242424%22%2F%3E%0A%20%20%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M10.42%2014.17a4.17%204.17%200%201%201%207.64%202.3l1.7%201.7a.83.83%200%200%201-1.18%201.17l-1.7-1.7a4.17%204.17%200%200%201-6.46-3.48Zm4.16-2.5a2.5%202.5%200%201%200%200%205%202.5%202.5%200%200%200%200-5Z%22%20fill%3D%22%23242424%22%2F%3E%0A%3C%2Fsvg%3E);
    background-repeat: no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
}
